.profil{
    height: 500px;
    width: 700px;
    border-width: 30px;
    border: 3px solid black;
}

.prenom{
    display: inline;
    float:left;
    margin-top: 8%;
    margin-left: 15%;   
}

.nom{
    display: inline;
    float:right;
    margin-top: 8%;
    margin-right: 30%;   
}

.date{
    display: inline;
    float:left;
    margin-top: 20%;
    margin-left: -7%;   
}

.img{
    display: block;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
    overflow:hidden;
    border-radius:70px;
    width: 0 px;
    height: 10 px;
}