.profil{
    height: 500px;
    width: 700px;
    border-width: 3px;
    border-color:black;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    border-radius:50px;
    width: 10 px;
    height: 10 px;
}

.nom{
    
}