.profil{
    height: 500px;
    width: 700px;
    border-width: 30px;
    border: 3px solid black;
}

.prenom{
    
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    border-radius:50px;
    width: 0 px;
    height: 10 px;
}

.nom{
    
}